.list-item {
    width: 100%;
    min-height: 100px;
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.complete {
    color: grey;
    background-color: rgb(216, 216, 216);

}

.complete .list-item-label {
    text-decoration: line-through;
}

.list-item-buttons {
    width: 20%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-label {
    width: 80%;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .list-item-buttons {
        width: 20%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 475px) {
    .list-item-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .list-item {
        flex-direction: column;
    }
}